{% extends "website/base.html" %}
{% load static %}
{% block title %}О себе{% endblock %}
{% block content %}
<div class="text-center">
    <h1>О себе</h1><br>
    <p class="lead">В начале 2022 года, я начал изучать программироаание, sql запросы и работу с консолью.<br>
        Сайт-визитка, которая находится перед вами, является проектной работой курса Python Developer. Basic.<br>
        Стек технологий, используемый в разработке данного вебсайта, продемонстрирован ниже:<br>
<span class="author">&nbsp;&nbsp;&nbsp;Python&nbsp;&nbsp;&nbsp;PyCharm&nbsp;&nbsp;&nbsp;Django&nbsp;&nbsp;&nbsp;Docker&nbsp;&nbsp;&nbsp;Bash&nbsp;&nbsp;&nbsp;HTML&nbsp;&nbsp;&nbsp;CSS&nbsp;&nbsp;&nbsp;Bootstrap&nbsp;&nbsp;&nbsp;SQL&nbsp;&nbsp;&nbsp;PostgreSQL&nbsp;&nbsp;&nbsp;git&nbsp;&nbsp;&nbsp;GitHub</span><br>
        Такая творческая деятельность, как фотосъемка, скетчинг и дизайн, является неотъемлемой частью моего бытия.<br>
        Frontend разработка смогла не только пополнить сей список, но и значимо зарядить меня вдохновением.<br></p>
</div>
{% endblock %}
