{% extends "website/base.html" %}
{% load static %}
{% block title %}О себе{% endblock %}
{% block content %}
<div class="text-center">
    <h1>О себе</h1><br>
    <p class="lead">Программирование стало частью моей жизни в начале 2022 года.<br>
        Сайт-визитка, гостем которой вы являетесь, разработана в рамках проектной работы, курса Python Developer. Basic.<br>
        Стек моих технологий, используется в разработке данного веб-приложения:<br>
<span class="author">&nbsp;&nbsp;&nbsp;Python&nbsp;&nbsp;&nbsp;PyCharm&nbsp;&nbsp;&nbsp;Django&nbsp;&nbsp;&nbsp;Docker&nbsp;&nbsp;&nbsp;Bash&nbsp;&nbsp;&nbsp;HTML&nbsp;&nbsp;&nbsp;CSS&nbsp;&nbsp;&nbsp;Bootstrap&nbsp;&nbsp;&nbsp;SQL&nbsp;&nbsp;&nbsp;PostgreSQL&nbsp;&nbsp;&nbsp;git&nbsp;&nbsp;&nbsp;GitHub</span><br>
        Искусство, фотография, построение схем и различного рода дизайн, являются неотъемлемой частью моей самореализации. Frontend разработка, смогла раскрыть мне новые стороны творческого созидания.<br>
        Посетив страницу блога, можно ознакомиться с заметками о ключевых событиях в моей трудовой, учебной, научной и творечской деятельности.</p>
</div>
{% endblock %}
