{% extends "website/base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div>
    <h1>Контакты</h1><br>
    <p>Связаться со мной можно по электронной почте: <a href="mailto:perminov.vl@yandex.ru">perminov.vl@yandex.ru</a><br>
    И на страницах моих социальных сетей:</p>
    <article>
        <ul class="contacts-btns list-unstyled d-flex flex-wrap flex-row">
            <li class="contact-elem">
                <a href="https://t.me/paro44">
                    <i class="fab fa-telegram"></i>
                </a>
            </li>
            <li class="contact-elem">
                <a href="https://linkedin.com/in/paro44">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="contact-elem">
                <a href="https://github.com/PaRo44">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="contact-elem">
                <a href="https://vk.com/paro44">
                    <i class="fab fa-vk"></i>
                </a>
            </li>
        </ul>
    </article>
</div>
{% endblock %}
