{% extends "website/base.html" %}
{% load static %}
{% block title %}Компетенции{% endblock %}
{% block content %}
<main class="cv">
    <div class="text-center">
        <h1>Компетенции</h1><br>
        <p>Перминов Владимир Юрьевич, 26 лет,<br>Дата рождения: 14 января 1997,<br>Москва</p>
    </div>
    <article class="edu">
        <div class="row">
            <div class="col-xs-12">
                <h2>Высшее образование</h2>
            </div>
        </div>
        <div class="row edu-detail">
            <div class="col-1">
                <p>2021</p>
            </div>
            <div class="col-4">
                <strong>РОССИЙСКИЙ УНИВЕРСИТЕТ ТРАНСПОРТА</strong>
            </div>
            <div class="col-7">
                <p>Технология транспортных процессов</p>
            </div>
        </div>
        <div class="row edu-detail">
            <div class="col-1">
                <p>2017</p>
            </div>
            <div class="col-4">
                <strong>ГУМРФ ИМ. АДМИРАЛА С.О. МАКАРОВА</strong>
            </div>
            <div class="col-7">
                <p>Организация перевозок и управление на транспорте</p>
            </div>
        </div>
    </article>
    <article class="edu">
        <div class="row">
            <div class="col-xs-12">
                <h2>Дополнительное профессиональное образование</h2>
            </div>
        </div>
        <div class="row edu-detail">
            <div class="col-1">
                <p>2023</p>
            </div>
            <div class="col-4">
                <strong>OTUS</strong>
            </div>
            <div class="col-4">
                <p>Python Developer. Basic</p>
            </div>
            <div class="col-3">
                <p><i>(в процессе)</i></p>
            </div>
        </div>
        <div class="row edu-detail">
            <div class="col-1">
                <p>2023</p>
            </div>
            <div class="col-4">
                <strong>OTUS</strong>
            </div>
            <div class="col-4">
                <p>Python Developer. Professional</p>
            </div>
            <div class="col-3">
                <p><i>(в процессе)</i></p>
            </div>
        </div>
        <div class="row edu-detail">
            <div class="col-1">
                <p>2023</p>
            </div>
            <div class="col-4">
                <strong>English Zone</strong>
            </div>
            <div class="col-4">
                <p>B2 speaking</p>
            </div>
            <div class="col-3">
                <p><i>(в процессе)</i></p>
            </div>
        </div>
    </article>
    <article class="work">
        <div class="row">
            <div class="col-xs-12">
                <h2>Коммерческий опыт</h2>
            </div>
        </div>
        <div class="job">
            <div class="row">
                <div class="col-4">
                    <strong>ДИКСИ, группа компаний</strong>
                </div>
                <div class="col-4">
                    <strong>Специалист товарного движения</strong>
                </div>
                <div class="col-4">
                    <p>Апрель 2022 — июнь 2022</p>
                </div>
            </div>
            <div class="col-xs-12">
                <ul class="job-detail">
                    <li>Корректировка разлётов в автозаказе товарных запасов;</li>
                    <li>Обработка срочных заказов по пополнению магазинов;</li>
                    <li>Написание методической литературы для специалистов отдела товародвижения;</li>
                    <li>Работа с SQL скриптами;</li>
                    <li>Обработка и составление отчётов по данным из Power BI;</li>
                    <li>Работа с большими массивами данных.</li>
                </ul>
            </div>
        </div>
        <div class="job">
            <div class="row">
                <div class="col-3">
                    <strong>ФГБУ «МОРРЕЧЦЕНТР»</strong>
                </div>
                <div class="col-5">
                    <strong>Ведущий специалист информационных технологий</strong>
                </div>
                <div class="col-4">
                    <p>Февраль 2020 — июнь 2021</p>
                </div>
            </div>
            <div class="col-xs-12">
                <ul class="job-detail">
                    <li>Разработка и оптимизация схем доставки печатной продукции;</li>
                    <li>Подбор и обоснование закупки техники;</li>
                    <li>Разработка файлов в Adobe Illustrator, Adobe After Effects, Adobe Photoshop и Sony Vegas Pro;</li>
                    <li>Создание дизайн-кода, используемого в информационных буклетах компании.</li>
                </ul>
            </div>
        </div>
        <div class="job">
            <div class="row">
                <div class="col-5">
                    <strong>РОССИЙСКИЙ УНИВЕРСИТЕТ ТРАНСПОРТА</strong>
                </div>
                <div class="col-3">
                    <strong>Ассистент кафедры</strong>
                </div>
                <div class="col-4">
                    <p>Январь 2020 — январь 2021</p>
                </div>
            </div>
            <div class="col-xs-12">
                <ul class="job-detail">
                    <li>Участие в научно-исследовательской деятельности по профилю кафедры в ранге главы научной группы;</li>
                    <li>Разработка программ дистанционного обучения по профильным предметам кафедры;</li>
                    <li>Оптимизация работы сотрудников кафедры в 1С.</li>
                </ul>
            </div>
        </div>
    </article>
</main>
{% endblock %}
