h1 {
    font-size: 32px;
}

#user-form .field > p {
    margin-bottom: 10px;
}

#user-form .form-label {
    margin-bottom: 0.1rem;
}

#user-cards .card {
    max-width: 25rem;
    margin-bottom: 36px;
}

nav.navbar {
    background-color: #e3f2fd;
}

#app-logo {
    color: #87C1FF;
}